<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>GoSDM630</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=yes" />
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link href="css/app.css" rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="/">GoSDM630</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent"
		 aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#realtime">Realtime view
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#status">Status</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#about">About</a>
				</li>
			</ul>
			<span id="time" class="navbar-text">
				${ date } ${ time }
			</span>
		</div>
	</nav>

	<div class="container">
		<div id="realtime">
			<h1>Realtime measurements</h1>
			<div id="meters">
				<p>${ message }</p>
				<table class="metertable table table-striped" v-for="(meter, idx) in meters">
					<thead class="thead-dark">
						<tr>
							<th>Meter ${ idx }</th>
							<th>L1</th>
							<th>L2</th>
							<th>L3</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						<tr v-if="meter.VoltageL1 != null || meter.VoltageL2 != null || meter.VoltageL3 != null">
							<td>Voltage (V)</td>
							<td>${ meter.VoltageL1 }</td>
							<td>${ meter.VoltageL2 }</td>
							<td>${ meter.VoltageL3 }</td>
							<td>-</td>
						</tr>
						<tr v-if="meter.CurrentL1 != null || meter.CurrentL2 != null || meter.CurrentL2 != null">
							<td>Current (A)</td>
							<td>${ meter.CurrentL1 }</td>
							<td>${ meter.CurrentL2 }</td>
							<td>${ meter.CurrentL2 }</td>
							<td>${ (parseFloat(meter.CurrentL1) + parseFloat(meter.CurrentL2) + parseFloat(meter.CurrentL2)).toFixed(2) }</td>
						</tr>
						<tr v-if="meter.PowerL1 != null || meter.PowerL2 != null || meter.PowerL2 != null">
							<td>Power (W)</td>
							<td>${ meter.PowerL1 }</td>
							<td>${ meter.PowerL2 }</td>
							<td>${ meter.PowerL2 }</td>
							<td>${ (parseFloat(meter.PowerL1) + parseFloat(meter.PowerL2) + parseFloat(meter.PowerL2)).toFixed(2) }</td>
						</tr>
						<tr v-if="meter.CosphiL1 != null || meter.CosphiL2 != null || meter.CosphiL2 != null">
							<td>Power Factor</td>
							<td>${ meter.CosphiL1 }</td>
							<td>${ meter.CosphiL2 }</td>
							<td>${ meter.CosphiL2 }</td>
							<td>-</td>
						</tr>
						<tr v-if="meter.ImportL1 != null || meter.ImportL2 != null || meter.ImportL2 != null || meter.Import != null">
							<td>Import (kWh)</td>
							<td>${ meter.ImportL1 }</td>
							<td>${ meter.ImportL2 }</td>
							<td>${ meter.ImportL2 }</td>
							<td>${ meter.Import }</td>
						</tr>
						<tr v-if="meter.ExportL1 != null || meter.ExportL2 != null || meter.ExportL2 != null || meter.Export != null">
							<td>Export (kWh)</td>
							<td>${ meter.ExportL1 }</td>
							<td>${ meter.ExportL2 }</td>
							<td>${ meter.ExportL2 }</td>
							<td>${ meter.Export }</td>
						</tr>
						<tr v-if="meter.THDL1 != null || meter.THDL2 != null || meter.THDL2 != null || meter.THD != null">
							<td>THD (%)</td>
							<td>${ meter.THDL1 }</td>
							<td>${ meter.THDL2 }</td>
							<td>${ meter.THDL2 }</td>
							<td>${ meter.THD }</td>
						</tr>
						<tr v-if="meter.Freq != null">
							<td>Frequency (Hz)</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>${ meter.Frequency }</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div id="status">
			<h1>Current Meter Status</h1>
			<div id="status">
				<table class="metertable table table-striped">
					<thead class="thead-dark">
						<tr>
							<th>Meter ID</th>
							<th>Type</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(meter, idx) in meterstatus">
							<td>${ meter.Id }</td>
							<td>${ meter.Type }</td>
							<td>${ meter.Status }</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div id="about">
			<h1>About GoSDM630</h1>
			<p>GoSDM630 is an interface for the Eastron SDM/Modbus Smart Meter series. Please
				<a href="https://github.com/gonium/gosdm630">refer to the documentation
				</a> for more information.</p>
			<p>This installation runs GoSDM630 version {{.SoftwareVersion}} (compiled with {{.GolangVersion}})</p>
		</div>
	</div>
	<!-- /.container -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/tether.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/vue.min.js"></script>
	<script src="js/app.js"></script>
</body>

</html>
